.vs/*
QuantLib/build/*
QuantLib/lib/*
QuantLib-Ext/build/*
QuantLib-Ext/lib/*
examples/.ipynb_checkpoints
QuantLib-Ext/autom4te.cache
Makefile
Makefile.in
configure
config.log
config.status
*-h1
QuantLib-Ext/bin/*
*.Plo
*.Po